Package: wasta-adobe-air
Version: 0.1.0
Architecture: all
Maintainer: Rik Shaw <rikshaw76@gmail.com>
Installed-Size: 15763
Depends: libxt6:i386, libnspr4-0d:i386, libgtk2.0-0:i386, libstdc++6:i386, libnss3-1d:i386, libnss-mdns:i386, libxml2:i386, libxslt1.1:i386, libcanberra-gtk-module:i386, gtk2-engines-murrine:i386, libgnome-keyring0:i386, libxaw7
Section: utils
Priority: extra
Homepage: https://github.com/wasta-linux/wasta-adobe-air
Description: Wasta Adobe Air 2.6 Installation
 Adobe Air has been discontinued by Adobe for Linux.  A few tweaks are needed
 to get it installed in newer Ubuntu/Wasta-Linux versions.
